<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628352863690-5luvegkrhkuqmp85ge4fjoqeq6das40i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628352863690-5luvegkrhkuqmp85ge4fjoqeq6das40i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628352863690-irist8iae8c3acn4bkuf1lfklduvhghl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgM5_vVLus0WX3v7K9K3XRWFQgeMAt5JI</string>
	<key>GCM_SENDER_ID</key>
	<string>628352863690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easycarrelo</string>
	<key>PROJECT_ID</key>
	<string>easy-car-relo</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-car-relo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628352863690:ios:8fb01d3af7916ff434d333</string>
	<key>DATABASE_URL</key>
	<string>https://easy-car-relo.firebaseio.com</string>
</dict>
</plist>