<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18046953276-d7r0cskobi06nbhr6rgooqa6b0nl0eq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18046953276-d7r0cskobi06nbhr6rgooqa6b0nl0eq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAqlusS9ujY8farve4a2M9ud2V99UcKmMY</string>
	<key>GCM_SENDER_ID</key>
	<string>18046953276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easycarrelo</string>
	<key>PROJECT_ID</key>
	<string>easycarrelo</string>
	<key>STORAGE_BUCKET</key>
	<string>easycarrelo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18046953276:ios:04e1a1122921ff61372039</string>
	<key>DATABASE_URL</key>
	<string>https://easycarrelo.firebaseio.com</string>
</dict>
</plist>